/// Home ///
/// Navbar ///
.navbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .middle-links a{
        color: black;
        text-decoration: none;
        padding: 10px;
        font-size: 17px;
    }
}
/// 